.rvmrc
abbot/
tmp/
sc-docs/
apps/old-smartgraphs
.DS_Store
.project
*/.DS_Store
results/
server.log
server.pid.lock
.idea
apps/smartgraphs/activity_json/push.json
apps/smartgraphs/activity_json/pull.json
apps/smartgraphs/activity_json/couch.txt