.rvmrc
.bundle
bin/
tmp/
sc-docs/
.DS_Store
*/.DS_Store
results/
server.log
server.pid.lock
frameworks/jasmine-sproutcore
apps/smartgraphs/activity_json/push.sh
apps/smartgraphs/activity_json/update.sh
apps/smartgraphs/activity_json/couch.txt
config/config.yml