[submodule "frameworks/cc"]
	path = frameworks/cc
	url = http://github.com/sfentress/CC-SproutCore.git
[submodule "frameworks/raphael_views"]
	path = frameworks/raphael_views
	url = http://github.com/rklancer/RaphaelViews.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = http://github.com/rklancer/sproutcore.git
[submodule "applets"]
	path = applets
	url = http://github.com/stepheneb/lightweight-sensor-graphs.git
[submodule "frameworks/jasmine-sproutcore"]
	path = frameworks/jasmine-sproutcore
	url = https://github.com/gmoeck/jasmine-sproutcore.git
