/* ==========================================================================
   Project:   Smartgraphs
   Copyright: ©2010 Concord Consortium
   Author:    Richard Klancer <rpk@pobox.com>
   ==========================================================================
*/

/*** loading ***/

body.sc-theme {
  background-color: #B4C0D7;
  overflow: hidden;
}

.sc-theme .app-loading {
  background-color: #B4C0D7;  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-loading img, .app-loading p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.app-loading p {
  height: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.0;
  color: #666666;
  font-style: bold;
}

/*** after loading ***/

.sc-theme .sc-pane.sc-main {
  background: #B4C0D7;
}

/* container loading */
.sc-theme .sc-label-view.loading {
  font-size: 18px;
  line-height: 1.0;
  color: #666666;
  font-style: bold;
}

/* activity view loading error */
.sc-theme .sc-label-view.error {
  color: #333333;
  font-size: 24px;
  line-height: 1.0;
  font-style: bold;
}

/* toolbar messages ('saving...' etc) */
.sc-theme .sc-view.ace.pig.sc-toolbar-view .sc-label-view.toolbar-message {
  font-size: 14px;
  line-height: 1.0;
  color: #cc0000;
}

.sc-view.smartgraph-pane {
  background-color: #E5E8EF;
  color: #333333;
  border: 1px solid #A2B5D7;
}

.sc-label-view.floating-caption {
  opacity: 0.5 !important;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.sc-view.text-wrapper .sc-view {
  font-size: 16px;
  line-height: 1.4em;
  padding: 1px;
}

.sc-view.text-wrapper .sc-view.hovered {
  border: 1px solid #6699cc;
  padding: 0;
  background-color: #ffffff;
}

.text-wrapper p, .text-wrapper h1, .text-wrapper img {
  margin: 10px;
}

.text-wrapper h1 {
  font-size: 18px;
}

.sc-view.json-editor .sc-view {
  line-height: 1.4em;
  padding: 3px;
}

.sc-view.json-editor .json-editor-code {
  border: 1px solid #888888;
}

.sc-view.json-editor .json-editor-code textarea{
  font: normal 12px monospace;
  white-space: pre;
}

.sc-view.json-editor .json-editor-feedback {
  font: bold 12px sans-serif;
  color: white;
  background-color: red;
  padding: 3px;
}

.sc-view .json-attribute-picker {
  font: bold 12px sans-serif;
  color: white;
  background-color: #6699cc;
  padding: 3px;
}

.sc-view .json-attribute-picker .attributeListLabel{
  font-size:12px;
  color:#E5E8EF;
 }
 
.sc-view .json-attribute-picker .attributeList{
  border:1px solid #E5E8EF
}

.sc-view.json-editor .json-currently-editing {
  font:normal 12px monospace;
}

.sc-view.json-editor .json-currently-editing-attribute {
  font-family:monospace;
  background-color: #6699cc;
  color:#ffffff;
  padding:2px 5px 2px 5px;
  cursor:pointer;
}


.sc-view.json-editor .sc-view.hovered {
  border: 1px solid #6699cc;
  padding: 2;
  background-color: #ffffff;
}

.json-editor p, .json-editor h1, .json-editor img {
  margin: 10px;
}

.json-editor h1 {
  font-size: 18px;
}

.text-wrapper .text-field-view-wrapper, .sc-view.dialog-text .sc-radio-view   {
  margin: 10px;
}

.sc-view.hint {
  color: #666666;
  font-style: italic;
}

.sc-view.dialog-text {
  margin: 10px 0 10px 0;
  border: 1px solid #cccccc;
  background-color: #EFEDDD;
}

.sc-view.dialog-text .sc-view {
  color: black;
  font-size: 14px;
}

/* lose the textarea padding for now ... it breaks the focus style when used with the textarea-reset.css */
/*.sc-view.dialog-text textarea {
  padding: 5px;
}*/

/* graph labels and more */
.sc-theme .sc-label-view.pane-label {
  font-size: 18px;
  line-height: 1.0;
  color: #666666;
}

.sc-theme .sc-label-view.sensor-message {
  font-size: 24px;
  font-style: italic;
  line-height: 1.0;
  color: #666666;
  background-image: sc_static('resources/images/small_loading_icon.gif');
  background-repeat: no-repeat;
  background-position: left top;
}

.smartgraph-table .sc-list-item-view.sc-regular-size {
  font-size: 16px;
}

.smartgraph-table .sc-label-view.sc-regular-size {
  font-size: 16px;
}

.smartgraph-table .sc-view.table-background {
  background-color: #eee;
  border: 1px solid #ccc;
  z-index: 1;
}

.smartgraph-table .sc-view.table-background.table-background-top {
  background-color: #eee;
  border-bottom-width: 0px;
  z-index: 2;  
}

.sc-list-view.table-column {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.sc-list-item-view.table-item {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.smartgraph-numeric-view-label.sc-label-view.sc-regular-size {
  font-size: 18px;
}

.smartgraph-numeric-view-value.sc-label-view.sc-regular-size {
  font-size: 48px;
  line-height: 1.2;
  color: #666;
}

.sc-theme .sc-view.ace.sc-collection-view.sc-source-list.outline {
  background: #666;
}


/* fixes to make sure statically laid out RadioView labels expand to fit wrapped content*/
.sc-theme .sc-view.ace.sc-radio-view.sc-static-layout .sc-radio-button {
  height: auto;
}

.sc-theme .sc-view.ace.sc-radio-view.sc-static-layout .sc-button-label {
 position: static;
 margin-left: 5px;
 display: block;
}

/* adjust the RadioView button top to match up with wrapped labels */
.sc-theme .sc-view.dialog-text .sc-view.ace.sc-radio-view span.button {
  top: 2px;
}

/* quick fix to color of SplitDividerView */
.sc-theme .sc-view.ace.sc-split-divider-view {
  background-color: #ddd;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
}

.roundedCorners {
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}
