/* ==========================================================================
   Project:   Smartgraphs
   Copyright: ©2010 My Company, Inc.
   Author:    Richard KLancer <rpk@pobox.com>
   ==========================================================================
*/

.sc-theme .sc-pane.sc-main {
  background: #B4C0D7;
}

.sc-theme #loading {
  background: #B4C0D7;
}

body.sc-theme {
  background-color: #B4C0D7;
  overflow: hidden;
}

.sc-view.smartgraph-pane {
  background-color: #E5E8EF;
  color: #333333;
  border: 1px solid #A2B5D7;
}

.sc-view.text-wrapper .sc-view {
  font-size: 16px;
}

.text-wrapper p, .text-wrapper h1, .text-wrapper img {
  margin: 10px;
}

.text-wrapper h1 {
  font-size: 18px;
}

.text-wrapper .text-field-view-wrapper {
  margin: 10px;
}

.sc-view.dialog-text {
  margin: 10px 0 10px 0;
  border: 1px solid #cccccc;
  background-color: #EFEDDD;
}

.sc-view.dialog-text .sc-view {
  color: black;
  font-size: 14px;
}

.sc-view.dialog-text textarea {
  padding: 5px;
} 
