.sc-theme .sc-pane.sc-main {
  /* overwrite: 
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#57647F), to(#848EA2));  */
  background: #B4C0D7;
}

.sc-theme #loading {
  background: #B4C0D7;
}

body.sc-theme {
  background-color: #B4C0D7;
}

.sc-view.smartgraph-pane {
  background-color: #E5E8EF;
  color: #333333;
  border: 1px solid #A2B5D7;
}

.sc-view.text-view .sc-view {
  font-size: 16px;
}

.text-view p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sc-view.dialog-turn {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: 1px solid #999999;
}

.sc-view.dialog-turn .sc-view {
  color: black;
  font-size: 14px;
}

.sc-view.dialog-turn textarea, .sc-view.dialog-turn input {
  padding: 5px;
}


/*** shrinks SegmentedView segments; careful! some of the negative margin hacks are for IE(7) ***/

.sc-theme .sc-segmented-view .sc-segment {
  padding-left: 1px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-first-segment {
  padding-left: 6px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-last-segment {
  padding-right: 1px;
}

.sc-theme .sc-segmented-view .sc-segment .sc-button-inner {
  padding-right: 1px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-last-segment .sc-button-inner {
  padding-right: 5px;
  margin-right: 0;
}

.sc-theme .sc-segmented-view .sc-segment.sc-first-segment .sc-button-inner {
   margin-left: -1px;
}
