.sc-theme .sc-pane.sc-main {
  /* overwrite: 
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#57647F), to(#848EA2));  */
  background: #B4C0D7;
}

.sc-theme #loading {
  background: #B4C0D7;
}

body.sc-theme {
  background-color: #B4C0D7;
}

.sc-view.smartgraph-pane {
  background-color: #E5E8EF;
  color: black;
  border: 1px solid #A2B5D7;
  font-size: 16px;
}

.sc-view.text-view, .sc-view.text-view .sc-view {
  font-size: 16px;
}

.sc-view.text-view textarea, .sc-view.text-view .sc-view textarea {
  font-size: 16px;
}

.text-view p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sc-theme .sc-segmented-view .sc-segment {
  padding-left: 1px;
}

.sc-segmented-view .sc-segment.sc-middle-segment .sc-button-inner {
  padding-left: 0px;
  padding-right: 0px;
}


/*
.sc-view.sg-question {
  padding: 25px 20px 5px 20px;  

  position: absolute;
}

.sc-view.sg-question div {
  font-size: 16px;
}

.sc-view.sg-question p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sc-view.sg-question .sc-button-view {
  margin-top: 5px;
  margin-bottom: 10px;
}

.sc-view.sg-question textarea {
  font-size: 16px;
}

*/