.sc-theme .sc-pane.sc-main {
  /* overwrite: 
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#57647F), to(#848EA2));  */
  background: #B4C0D7;
}

.sc-theme #loading {
  background: #B4C0D7;
}

body.sc-theme {
  background-color: #B4C0D7;
}

.sc-view.smartgraph-pane {
  background-color: #E5E8EF;
  color: black;
  border: 1px solid #A2B5D7;
}

.html-view .inner {
  padding: 5px 20px 5px 20px;
  font-size: 18px;
}