<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Smartgraphs Demos using Rails-based database</title>
	
</head>

<body>
	<div><p>
	<%= link_to 'Edit Guide Pages', guide_pages_path %>
	</p></div>
	<div><p>
	<%= link_to 'SproutCore view of the activity', '/sc.html' %>
	</p></div>
</body>
</html>
