<p>
  <b>Guid:</b>
  <%=h @guide_page_sequence.guid %>
  <%=h @guide_page_sequence.name %>
</p>


<%= link_to 'Edit', edit_guide_page_sequence_path(@guide_page_sequence) %> |
<%= link_to 'Back', guide_page_sequences_path %>